POSTGRES_DB=frauddb
POSTGRES_USER=frauduser
POSTGRES_PASSWORD=yourpasswordhere
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_RAW_TOPIC=raw-transactions
KAFKA_SCORED_TOPIC=scored-transactions
